*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  color-scheme: dark;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
